<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <% data.forEach(function(elem,index){%>
        
        <div class="card border-dark mb-3" style="width:80%;height:auto;">
            <div class="card-header"><center><h2><%=elem?.content %></h2> </center></div>
            <div class="card-body text-dark" style="text-align: center;">
              <h5 class="card-title"style="font-size: 32px;"><%=elem?.details %> </h5>
              
              <p class="card-text" style="font-size: 27px;"><%=elem?.topic %> </p>

              <% if(elem.data){ %>
                <% if(elem.status=='newpublic'){%>
                
                  <a href="/customimage?image=<%= elem.data %>"> 
                    <img class="border" style="width:100%;height:300px;" 
                    src="<%=elem.data%>" alt=""></a>
                 
                <%} else if(elem.status=='publicfile'){%>
                
                  <a href="<%=elem.data%>">filepdf</a>
                
                <%} else {%>
                  <a href="/wholeimage?image==<%= elem.data %>"> <img class="border" style="width:300px;height:300px;" src="/images/<%=elem.data%>" alt=""></a>
                
                  <%} %>
                <%} %> 
                <% if(elem.filedata){ %>
                
                    <a href="/introfile?file=<%=elem.filedata%>"><%=elem.filedata%></a>
                <%} %>
            </div>

          </div>
    <%}) %> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


