<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

#mylogin{
 margin-left:370px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:60px
}
    .new1{
text-align: center;
      border-radius:8px;
      width: 400px;
      height:350px;
      background-color:aliceblue;
      margin-top: 40px;
      border: solid;
      margin-left:300px
    }
    .new2{
        border-radius:8px;
text-align: center;
margin-top: 90px;
width: 500px;

   
      width: auto;
      height:auto;
      background-color:rgb(223, 228, 232);
      margin-top: 40px;
      margin-left:300px
    }
   .newbutton{
     margin-left: 30px;
     margin-top: 10px;

   }
  


   

   #quizname{
 margin-left: 30px;
 width: 300px;
 margin-top: 20px;
   }

   #info{
     margin-top: 20px;
   }

    @media only screen and (max-width: 500px) {
 
 .new1{
 
     height: 400px;
    width:320px;
    margin-left:10px;
 }
 
.new2{

  width:340px ;
  margin-left: 20px;
}
 
 #quizname{
  width: 200px;

   margin-left: 60px;
 }

 .newbutton{
     margin-left: 15px;
     margin-top: 10px;
   }
  
 #mylogin{
  margin-left:50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  font-size:30px;
}

 }








</style>





</head>
<%- include('../partials/heading.hbs') %>


<body>

    <h1 id="mylogin">Get Your Contents here</h1>
<div class="new1">

    



<form action="/getallcontent"method="POST">
    <div class="form-group">
        <label> select the topic of your content</label>
        <select class="form-control mt-2" id="content" name="content" >
            <% if(typeof(content)!='undefined') {%> 
                <option value="<%=content%>"><%=content%> </option>

           

            <% } %> 
            <option value="ssccgl">ssccgl </option>

            <option value="iitjee">iitjee</option>
            <option value="bankexams">bankexams</option>
            <option value="ssccglcontent">ssc formulas</option>
            <option value="iitjeecotent">iitjee formulas</option>
            <option value="bankexamscontent">bankexams formulas</option>
           
          </select>
      </div>  

      <button type="submit"class="btn btn-primary mt-2">click to see content</button>
    
    </form>

</div>





<% if(typeof(data)!='undefined'){ %> 

 
   
    <% data.forEach(function(elem,index){%>
      <div class="border bg-light new2">
        <% if(elem.content==content){ %> 

<p><%=elem.topic%></p>
<p><%=elem.content%></p>

<% if(elem.data){ %>
<% if(elem.status=='newpublic'){%>

  <a href="/customimage?image=<%= elem.data %>"> <img class="border" style="width:300px;height:300px;" src="<%=elem.data%>" alt=""></a>
 
<%} else if(elem.status=='publicfile'){%>

  <a href="<%=elem.data%>">filepdf</a>

<%} else {%>
  <a href="/wholeimage?image==<%= elem.data %>"> <img class="border" style="width:300px;height:300px;" src="/images/<%=elem.data%>" alt=""></a>

  <%} %>
<%} %> 
<% if(elem.filedata){ %>

    <a href="/introfile?file=<%=elem.filedata%>"><%=elem.filedata%></a>
<%} %> 

<p>uploaded by <%=elem.uploadedby%></p>

<%}%>
</div> <br>
    <%}) %> 

    <%}else{%>
     
<h1 class="mt-5"style="font-family: Arial">
    No contents uploaded
</h1>

        <%}%> 
   

    <% if(typeof(username)!=='undefined'){ %> 
    <div id="name"style="display:block"><%=username%></div>
<% } %> 
 


  
</body>


<script>

// let newimg=document.getElementById('newimg').innerText;

// for(let i=0;i<3;i++){
//   let str=`/images/${newimg}`;
//   console.log(document.getElementById(`${i}`))
// document.getElementById(`${i}`).src=str
// }





if((typeof(document.getElementById("name"))!='undefined')&&(document.getElementById("name")!=null)){

  let f= document.getElementById("name").innerText
}
//}
 if(typeof(f)!='undefined'){
   document.getElementById("myname").innerText=f
}
else{
  document.getElementById("myname").innerText="Anonymous"

 }




</script>
</html>