<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
</script>
</head>

<style>
    #rat {
        opacity: 0;
    }

    .start_btn button {
        font-size: 25px;
        font-weight: 500;
        color: #007bff;
        padding: 15px 30px;

        border-radius: 5px;
        background: #fff;

    }




    .info_box {
        width: 540px;
        background: #fff;
        border-radius: 5px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .activeInf {
        opacity: 1;
        pointer-events: fill;
    }

    .btnstartdeactivate {
        opacity=0
    }

    .btnstartactivate {
        opacity: 1;
    }

    .quiz_box {
margin-left: 50px;
        width: 6000px;
        background: #fff;
        border-radius: 5px;

        opacity: 0;


    }

    .activeQuiz {
        opacity: 1;
    }


    .result_box {
        opacity: 0;

    }

    .showresultbox {
        opacity: 1;
    }


    .activeResult {
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
    }


    .quiz_box header .timer {
        margin-left: 40px;
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
        height: 45px;
        padding: 0 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 145px;
    }

    section {
        display: inline-block;
        padding: 25px 30px 20px 30px;
        background: #fff;
    }

    section .que_text {
        font-size: 25px;
        font-weight: 600;
    }

    section .option_list {
        padding: 20px 0px;
        display: block;
    }

    section .option_list .option {
        background: aliceblue;
        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section .option_list .option:last-child {
        margin-bottom: 0px;
    }

    section .option_list .option:hover {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
    }



    section .option_list .option.incorrect {
        color: #721c24;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
    }

    section .option_list .option.disabled {
        pointer-events: none;
    }

    section .option_list .option .icon {
        height: 26px;
        width: 26px;
        border: 2px solid transparent;
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        pointer-events: none;
        transition: all 0.3s ease;
        line-height: 24px;
    }

    .green {

        background-color: red;
        font-family: 'Courier New', Courier, monospace;
    }

    .red {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(49, 153, 63);
    }

    .option {
width: 300px;
height:50px;
        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .solution {
        width: 550px;
        background: #fff;
        border-radius: 5px;


    }

    .solution_btn {
        opacity: 0;
    }

    .ff {
        font-size: 25px;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
    }

    .showsolutionbtn {
        opacity: 1;
    }

    .cred {}

    .ll {
        opacity=1
    }

    .finishexam {
        opacity: 0;
    }

    .activatefinish {
        opacity: 1;
    }

    .button1 {
        opacity: 0;
    }

    .activatebutton1 {
        opacity: 1;
    }

    .fg {
        opacity: 0;
    }

    .Myreg {
        opacity: 0;

    }

    .Myage {
        opacity: 0;
    }

    .marks {
        opacity: 0;
    }

    .quiz {
        opacity: 0;
    }

    .activemarks {
        opacity: 1;

    }

    .activereg {
        opacity: 1;
    }

    .activequiz {
        opacity: 1;
    }

    .activeage {
        opacity: 1;
    }

    .button2 {
        opacity: 0;

    }

    .button3 {
        opacity: 0;

    }

    .activebutton2 {
        opacity: 1;
    }

    .activebutton3 {
        opacity: 1;
    }

    .solutions {
        height: auto;
    }

    .pallette1 {
        display: inline-block;
        margin-left: 900px;
        
        width: 200px;
        height: 400px;
        border: 2px solid black;
        position:absolute
    }

    .pallette2 {
          display: inline-block;
        margin-left: 900px;
     
        width: 200px;
        height: 400px;
        border: 2px solid black;
         position:absolute;
    }

    .pallette3 {
          display: inline-block;
        margin-left: 900px;
     
        width: 200px;
        height: 400px;
        border: 2px solid black;
         position:absolute;
    }
    .pallette4 {
          display: inline-block;
        margin-left: 900px;
     
        width: 200px;
        height: 400px;
        border: 2px solid black;
         position:absolute;
    }

   #button5{
      height: 50px; 
      width: 150px;
   }
   #button6{
   height: 50px; 
      width: 100px;
   }
   #button7{
   height: 50px; 
      width: 100px;
   }
   #button8{
   height: 50px; 
      width: 100px;
   }


    .ty{
        margin-top: 15px;
        margin-left: 40px;
        height:150px;
        width: 500px;
    }
    .ty1{
        height:100px;
        width: 500px;
    }
    .ty2{
        height:280px;
        width: 500px;
    }
#ty{
        margin-top: 15px;
        margin-left: 40px;
        height:150px;
        width: 500px;
    }
    #passimg{
        height:100px;
        width: 500px;
    }
    .imgtag{
        height:280px;
        width: 500px;
    }
    .imgtag[src=""] {
  display:none;
}
    .passimg[src=""] {
  display:none;
}

</style>

<body>








    <br>
    <br>
<div id="mysections">



</div>









    <div class="namequiz">{{mdata}}</div>


    <div class="mycontainer">
        <div class="pallette1">

        </div>
        <div class="pallette2">

        </div>
        <div class="pallette3">

        </div>
        <div class="pallette4">

        </div>
        <div class="quiz_box" style="top:10px;left:10px;">
            <header>
                <div class="title">Awesome Quiz Application</div>
                <div class="timer">
                    <div class="time_left_txt">Time Left</div>
                    <div class="timer_sec">15</div>
                </div>
                <div class="time_line"></div>
            </header>
            <section>
                 <div id="passage"></div>
                <div id="passimg"></div>
                <div id="myqueimg"></div>
                <div class="que_text" id="que_text">
                    <!-- Here I've inserted question from JavaScript -->
                </div>
                 <img src="" class="imgtag" id="imgtag" alt="">
                <div class="option_list">
                    <!-- Here I've inserted options from JavaScript -->
                </div>
            </section>

            <!-- footer of Quiz Box -->
            <footer>
                <div class="total_que">
                    <!-- Here I've inserted Question Count Number from JavaScript -->
                </div>
                <button class="next_btn">Next Que</button>
                <button class="prev_btn">prev Que</button>
                   <button class="clearans_btn">clear answers</button>
                <button class="submit_btn">submit</button>
            </footer>
        </div>
    </div>
    <br><br>
    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>

    <button class="solution_btn">click to see solutions</button><br><br>
    <div class="solution"></div>

    <form action="/Mystorage" method="POST" class="myresponses" name="myform" id="myform">



    </form>




    <div id="rat">{{userd}}</div>
    <script>
        //console.log({{data}})


        let html = ""
        let myquestions = []
        let p = 0
        let g = 0
        let Mydata;

        let rat = document.getElementById("rat").innerText
        console.log(rat)
        Mydata = JSON.parse(rat)
        console.log(Mydata[0])
        console.log(Mydata[1].option2)

        let option2 = []
        for (let i = 0; i < Mydata.length; i++) {
            option2.push(Mydata[i].option2)
        }
        console.log(option2)
        // const start_btn = document.querySelector(".start_btn button");
        //const info_box = document.querySelector(".info_box");
        //const exit_btn = info_box.querySelector(".quit");
        //const restart_btn = document.querySelector(".restart");
        const quiz_box = document.querySelector(".quiz_box");
        const namequiz = document.querySelector(".namequiz");
        const result_box = document.querySelector(".result_box");
        const option_list = document.querySelector(".option_list");
        const time_line = document.querySelector("header .time_line");
        const timeText = document.querySelector(".timer .time_left_txt");
        const timeCount = document.querySelector(".timer .timer_sec");
        const solution = document.querySelector(".solution")
        const button1 = document.querySelector(".button1")
        const solution_btn = document.querySelector('.solution_btn')
        const prev_btn = document.querySelector(".prev_btn")
        const myage = document.querySelector(".Myage")
     const clear_btn = document.querySelector(".clearans_btn")

        const myreg = document.querySelector(".Myreg")
        const button2 = document.querySelector(".button2")
        const button3 = document.querySelector(".button3")
        const myimgtag = document.querySelector(".imgtag")
        const Myresult = document.querySelector(".Myresult")
        const submitbtn = document.querySelector(".submit_btn")
        const myresponses = document.querySelector(".myresponses")
        const pallette1 = document.querySelector(".pallette1")
        const pallette2 = document.querySelector(".pallette2")
        const pallette3 = document.querySelector(".pallette3")
        const pallette4 = document.querySelector(".pallette4")

        const quiz = document.querySelector(".quiz")
        let finishexam = document.querySelector('.finishexam')





        quiz_box.classList.add("activeQuiz");

        //info_box.classList.remove("activeInf");
        // showQuestions(0); //calling showQestions function
        // queCounter(1); //passing 1 parameter to queCounter
        //calling startTimer function

        // startTimerLine(0); //calling startTimerLine function
        //}
        namequiz.style.display = "none"
        let timeValue = 60;
        let que_count = 0;
        let que_numb = 1;
        // let userScore1 = 0;
        let counter;
        let counterLine;
        let widthValue = 0;

        let html1 = ``

        function section1() {
            for (let i = 0; i <= Mydata[0].qsection; i++) {
                html1 += `<input type="submit" value=${i} id=${i} class="pots" onclick="return changed(this.value)" style="height:40px;width:40px;">`

            }
            pallette1.innerHTML = html1


        }

        section1()



        let html2 = ``
let no1=parseInt(Mydata[0].qsection,10)
let no2=parseInt(Mydata[1].qsection,10)
        function section2() {
            for (let i = (no1+1); i <= (no1+no2); i++) {
                html2 += `<input type="submit" value=${i} id=${i} class="pots" onclick="return changed(this.value)" style="height:40px;width:40px;">`

            }
            pallette2.innerHTML = html2


        }


        section2()


let no3=parseInt(Mydata[2].qsection,10)
        let html3 = ``

        function section3() {
            for (let i = (no1+no2+1); i <= (no1+no2+no3); i++) {
                html3 += `<input type="submit" value=${i} id=${i} class="pots" onclick="return changed(this.value)" style="height:40px;width:40px;">`

            }
            pallette3.innerHTML = html3


        }


        section3()


let no4=parseInt(Mydata[2].qsection,10)
        let html4 = ``

        function section4() {
            for (let i = (no1+no2+no3+1); i <= (no1+no2+no3+no4); i++) {
                html4 += `<input type="submit" value=${i} id=${i} class="pots" onclick="return changed(this.value)" style="height:40px;width:40px;">`

            }
            pallette4.innerHTML = html4


        }


        section4()



  
        // console.log("changed")
        // let h=document.querySelector(".pots").value

        //localStorage.setItem("gh",kk)
        //console.log(kk)
        //showQuestions(kk)

        //const hg=document.querySelectorAll(".pots")
        //for(let i=0;i<5;i++){
        // hg.onclick=()=>{
        //   // let s=localStorage.setItem('gh',hg.value)

        //}


        //}
        //s=localStorage.getItem('gh')
        //if(s==null){
        //   que_count=0
        // }
        // // else{
        /// que_count=s
        // }
        //let que_count=localStorage.getItem("gh")
        //let que_count=localStorage.getItem("gh")

        //console.log(que_count)
  

        //if (performance.navigation.type != performance.navigation.TYPE_RELOAD) {

        const next_btn = document.querySelector("footer .next_btn");
        const bottom_ques_counter = document.querySelector("footer .total_que");
        //showQuestions(localStorage.getItem("gh"))


        changed(que_count)

        function changed(kk) {
            showQuestions(0)
            que_count = kk
     
      let html=``;
       if(Mydata[0].sections){
        html=` <button id="button5"   name="button1"  style="height:30px;width:100px;" onclick="changed(0)">${Mydata[0].sections}</button>`
       }

       if(typeof(Mydata[1])!='undefined'){
if((Mydata[1].sections)&&(no1)){
  html+=`<button id="button6"  name="button1" style="height:30px;width:100px;" onclick="changed(${no1+1})">${Mydata[1].sections}</button>`

}
}
if(typeof(Mydata[2])!='undefined'){

if((typeof(Mydata[2].sections)!='undefined')&&(no2)){
 html+=`<button id="button7"  name="button2" style="height:30px;width:100px;"onclick="changed(${no1+no2+1})">${Mydata[2].sections}</button>`

}
}

if(typeof(Mydata[3])!='undefined'){

if((Mydata[3].sections)&&(no3)){
html+= `<button id="button8"  name="button3" style="height:30px;width:100px;"onclick="changed(${no1+no2+no3+1})">${Mydata[3].sections}</button>`

}

}




//console.log(html)


const button5= document.getElementById('button5')
const button6= document.getElementById('button6')
const button7= document.getElementById('button7')
const button8= document.getElementById('button8')
  

document.getElementById("mysections").innerHTML=html
        
 

  

 


          
           
           
            function showpallet() {
 
                if (que_count >= 0 && que_count <= no1) {
                    pallette2.style.display = "none"
                    pallette3.style.display = "none"
                    pallette1.style.display = "block"
                    pallette4.style.display = "none"
console.log("this is runnning and running")
                }

                if (que_count >= no1+1 && que_count <= no1+no2) {
                    pallette2.style.display = "block"
                    pallette1.style.display = "none"
                    pallette3.style.display = "none"
                    pallette4.style.display = "none"
                }
                if (que_count >= no1+no2+1 && que_count <= no1+no2+no3) {
                    pallette3.style.display = "block"
                    pallette2.style.display = "none"
                    pallette1.style.display = "none"
                    pallette4.style.display = "none"
                }
                if (que_count >= no1+no2+no3+1 && que_count <= no1+no2+no3+no4) {
                    pallette4.style.display = "block"
                    pallette2.style.display = "none"
                    pallette1.style.display = "none"
                    pallette3.style.display = "none"
                }

            }
            showpallet()
            showQuestions(que_count)
            next_btn.onclick = () => {

                       let myanswers=JSON.parse(localStorage.getItem("myquestions"))


                if (que_count < Mydata.length - 1) { //if question count is less than total question length
                    que_numb = que_count + 1
                    que_count++; //increment the que_count value
                    que_numb++; //increment the que_numb value



                    showQuestions(que_count); //calling showQestions function
                    queCounter(que_numb); //passing que_numb value to queCounter
                    g = myanswers[que_numb - 1]

                
                    const option = option_list.children[0].querySelectorAll(".option");
                                        showpallet()
if(option[g]){
                    option[g].classList.add('green')
}

                    //clearInterval(counter); //clear counter
                    //clearInterval(counterLine); //clear counterLine
                    //calling startTimer function
                    // startTimerLine(widthValue); //calling startTimerLine function
                    timeText.textContent = "Time Left"; //change the timeText to Time Left

                    next_btn.classList.remove("show"); //hide the next button

                } else {
                    //clearInterval(counter); //clear counter
                    // clearInterval(counterLine); //clear counterLine
                    que_numb = 1
                    que_count = 0 //calling showResult function
                    showpallet()
                    showQuestions(que_count)

                    //solution_btn.classList.add("showsolutionbtn")
                    //response.innerHTML=html+`<br>`
                }
            }


            prev_btn.onclick = () => {


                                       let myanswers=JSON.parse(localStorage.getItem("myquestions"))

                if (que_count < Mydata.length ) {
                    que_numb = que_count + 1
                    que_count--; //increment the que_count value
                    que_numb--; //increment the que_numb value

                  if (que_numb <1) {

                        que_count = Mydata.length-1 ;
                        que_numb = Mydata.length
                       // console.log(Mydata.length)
                         

                    }

                                        showpallet()

                    //
                    showQuestions(que_count); //calling showQestions function
                    queCounter(que_numb);

                    p = myanswers[que_numb - 1]
                 const option = option_list.children[0].querySelectorAll(".option");
   if(option[p]){
                    option[p].classList.add('green')
   }
                }

                //

            }

   clear_btn.onclick = () => {
            const index = myquestions.indexOf(que_count);

                 myquestions.splice(index-1, 1)
                 console.log(myquestions)
                 let b=JSON.stringify(myquestions)
                 localStorage.setItem("myquestions",b)
                
            }



            submitbtn.onclick = () => {

                clearInterval(counter)
                showResult()
            }




            solution_btn.onclick = () => {
                //solution.innerHTML = html


             ///   let i = 0;
              //  let j = 0
               /// const option = solution.querySelectorAll(".optiongr");
              //  console.log(option)
              //  for (j = 0; j < Mydata.length; j++) {
              //      for (i = 0; i < 4; i++) {



                   //     if (myquestions[j] == i) {

                            //console.log("mavhed")
                            // console.log(option[i])
                        //    option[j].children[i].classList.add('green')
                     //       //console.log(option[i].children.innerText)
                    //    }
                   //     if (Mydata[j].answercode == i) {
                         //   option[j].children[i].classList.add('red')
                    //   }

                  //  }

              //  }
             //   Myresult.value = mm + html
              //  console.log(Myresult.value)
                // textarea = document.querySelector(".solutions");
                ///textarea.addEventListener('input', autoResize, false);

                // function autoResize() {
                // this.style.height = 'auto';
                //this.style.height = this.scrollHeight + 'px';
                //}


            }

            // getting questions and options from array
            function showQuestions(que_count) {


                
                const que_text = document.querySelector(".que_text");
  let que_tag='';
                let img_tag=''
                //creating a new span and div tag for question and option and passing the value using array index
 if(Mydata[que_count].queimg){
                        que_tag='<span class="ff">' + Mydata[que_count].numb +". " +`<img src="${Mydata[que_count].queimg}" class="ty1" alt="" id="ty1" >`+ '</span>' +'<br>'
                        // que_text.innerHTML= new_tag
                         //console.log("fdagagagagrfasgrregaergaergfa")
                    }
                    else{
     que_tag = '<span class="ff">' + Mydata[que_count].numb + ". " + Mydata[que_count].question + '</span>' + '<br>'

                     
                             //console.log("dsasgagrfagrfafdsgrgfarfgafr")

                    }




              if(Mydata[que_count].myfiles!=null){
                 img_tag =Mydata[que_count].myfiles;
                   
                }else{
                   // img_tag=""
               //document.getElementById('ty2').style.display="none"             
                }

                             
                             
                             
                             
                             
                                 que_text.innerHTML = que_tag; 

                                 if(img_tag!=null){
                                myimgtag.setAttribute("src",img_tag)

                                 } else{
                                     myimgtag.style.display="none"
                                 }  


                             let option_tag = `<div class="optiongr">
                 
        <div class="option" id=0>${Mydata[que_count].option1} </div>
    <div class="option" id=1>${Mydata[que_count].option2} </div>
    <div class="option" id=2>${Mydata[que_count].option3} </div>
    <div class="option" id=3> ${Mydata[que_count].option4} +'</div>
   
    </div>`;


               
                option_list.innerHTML = option_tag; //adding new div tag inside option_tag
               // let image = document.querySelector(".ty")
               // img_tag.innerHTML = img_tag
                //if (Mydata[que_count].myfiles != '') {
                 //   imgtag.innerHTML = img_tag
                //}
                //else {
                    //image.style.display="none"
                   // console.log("no image")
               // }
                //if(next_btn.onclick==true){

                //}

                const option = option_list.children[0].querySelectorAll(".option");
                console.log(option)
                //console.log(option)
                //console.log(option_list.children[1].innerText)
                // set onclick attribute to all available options
                for (let i = 0; i < 4; i++) {
                    option[i].onclick = () => {
                        console.log(option[i].innerText)
                        myquestions[que_count] = (option[i].getAttribute('id'))

                        // document.getElementById("myform").innerHTML= `<input type="number" name=Myname value=${myquestions[index]}><br>
                        //<input type="text" name=quiz value=${namequiz}><br> `
                        //function submitform()
                        //document.getElementById("myform").submit()

                        //}
                        //submitform()
                        for (let j = 0; j < 4; j++) {
                            if (myquestions[que_count] == option[j].getAttribute('id')) {
                                option[j].classList.add("green")
                            }
                            if (myquestions[que_count] != option[j].getAttribute('id')) {
                                option[j].classList.remove("green")
                            }

                        }


                        //console.log(myquestions[index])
                        //console.log(questions[index].answercode)

                    }
                    //console.log(Mydata[que_count].myfiles)
                }

                            localStorage.setItem("myquestions",JSON.stringify(myquestions))

               // console.log(Mydata[que_count].myfiles)
            }

            let tickIconTag = '<div class="icon tick"><i class="fas fa-check"></i></div>';
            let crossIconTag = '<div class="icon cross"><i class="fas fa-times"></i></div>';


            return true;
        }


        function showResult() {

            console.log("this is result box")

            //info_box.classList.remove("activeInf"); //hide info box
            quiz_box.style.display = 'none'; //hide quiz box
            result_box.classList.add("activeResult"); //show result box

            for (let i = 0; i < Mydata.length; i++) {
                let que_tag = '<span class="ff">' + Mydata[i].numb + ". " + Mydata[i].question + '</span>';
                let img_tag = `<img.src="${Mydata[i].myfiles}.jpg" alt="" >`
                let option_tag = `<div class="optiongr">
                   
        <div class="option" id=0>${Mydata[i].option1} </div>
    <div class="option" id=1>${Mydata[i].option2} </div>
    <div class="option" id=2>${Mydata[i].option3} </div>
    <div class="option" id=3> ${Mydata[i].option4} </div>
     
    <textarea class="solutions" style="height:400px;width:500px;"><span> ${Mydata[i].solutions}<span> </textarea>
    </div>`;

                html += que_tag + `<br>` + img_tag + `<br>` + option_tag + `<br>`


            }


            let userScore1 = 0
            const scoreText = result_box.querySelector(".score_text");
            for (let i = 0; i < Mydata.length; i++) {
                    if(myquestions[i]){
                if (myquestions[i] == Mydata[i].answercode) {
                   
                    if(typeof(Mydata[i].positivemarks)!='undefined'){

                    userScore1 = userScore1 + Mydata[i].positivemarks
                    }else{
                        userScore1=userScore1+1
                    }


                }
                      else{
                    if(typeof(Mydata[i].negativemarks)!="undefined"){
                        userScore1=userScore1-Mydata[i].negativemarks
                    }
                    else{
                       // userScore1=userScore1+1
                    }

                }


                }
                document.getElementById("myform").innerHTML = ``


                for (let i = 0; i < myquestions.length; i++) {
                    document.getElementById("myform").innerHTML += `<input type="number" name=Myname value=${myquestions[i]}><br>
    `

                }
                document.getElementById("myform").innerHTML += `<input type="text" name=na value={{table2}}>`
                document.getElementById("myform").innerHTML += `<input type="number" name=registation value={{reg}}>`
                document.getElementById("myform").innerHTML += `<input type="number" name=marks value=${userScore1}>`
                document.getElementById("myform").innerHTML += `<input type="text" name=studentname value={{name2}}>`
                document.getElementById("myform").submit()

                if (userScore1 > 3) { // if user scored more than 3
                    //creating a new span tag and passing the user score number and total question number
                    let scoreTag = '<span>and congrats! 🎉, You got <p>' + userScore1 + '</p> out of <p>' + Mydata.length + '</p></span>';
                    scoreText.innerHTML = scoreTag;  //adding new span tag inside score_Text
                }
                else if (userScore1 > 1) { // if user scored more than 1
                    let scoreTag = '<span>and nice 😎, You got <p>' + userScore1 + '</p> out of <p>' + Mydata.length + '</p></span>';
                    scoreText.innerHTML = scoreTag;
                }
                else { // if user scored less than 1
                    let scoreTag = '<span>and sorry 😐, You got only <p>' + userScore1 + '</p> out of <p>' + Mydata.length + '</p></span>';
                    scoreText.innerHTML = scoreTag;

                }

            }

            //let marks1=document.querySelector(".marks")
            //myreg.classList.add("activereg")
            //marks1.classList.add("activemarks")
            //myage.classList.add("activeage")
            //quiz.classList.add("activequiz")

            //quizna.value={{quizname}}
            //myreg.value={{reg}}
            //myage.value={{student}}
            //marks1.value=userScore1
            //console.log(userScore1)
            //console.log(marks1.value)

            solution_btn.classList.add("showsolutionbtn")
            //button1.classList.add("activatebutton1")
            //button2.classList.add("activebutton2")
            ///button3.classList.add("activebutton3")
        }








        let count;
        let b = localStorage.getItem('storagekey')
        console.log(b)
        if (b == null) {
            count = Mydata[1].time
            //console.log("restart")
        }
        else {
            count = b

        }
        startTimer(count);


        document.addEventListener("visibilitychange", function () {
            document.title = document.visibilityState;
            if (document.title == 'hidden') {
                clearInterval(counter)


                showResult()

            }


        })


        function startTimer(count) {
            counter = setInterval(timer, 1000);
            function timer() {

                //window.addEventListener("beforeunload", function (e) {
                //var confirmationMessage = "\o/";

                //(e || window.event).returnValue = confirmationMessage; //Gecko + IE
                //return confirmationMessage;                            //Webkit, Safari, Chrome
                //});
                timeCount.textContent = count; //changing the value of timeCount with time value
                count--; //decrement the time value
                localStorage.setItem('storagekey', count)
                count = localStorage.getItem('storagekey')
                if (count < 9) { //if timer is less than 9
                    let addZero = timeCount.textContent;
                    timeCount.textContent = "0" + addZero; //add a 0 before time value
                }
                if (count < 0) { //if timer is less than 0
                    clearInterval(counter); //clear counter
                    timeText.textContent = "Time Off"; //change the time text to time off

                    showResult()
                    solution_btn.classList.add("showsolutionbtn")
                    next_btn.classList.add("show"); //show the next button if user selected any option


                }
            }
        }

        //startTimer(10);


        function queCounter(index) {
            //creating a new span tag and passing the question number and total question
            let totalQueCounTag = '<span><p>' + index + '</p> of <p>' + Mydata.length + '</p> Questions</span>';
            bottom_ques_counter.innerHTML = totalQueCounTag;  //adding new span tag inside bottom_ques_counter
        }
   //}
//console.log(html)


    </script>
</body>

</html>