<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../partials/heading1.hbs') %>

<body>
  <h1 style="margin-left:440px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:60px">Chat with your tutors here</h1>
<div class="border mb-3"style="height:100px;width:300px;margin-left:500px">
  <div style="margin-left:60px;border-radius: 8px;">
    <h4>Your Credentials</h4>
  <div id="name">Name:<%=name%> </div>
  <div id="uniquecode">Uniquecode:<%=uniquecode%> </div>
  <div id="Mdata"style="display:none"><%=usedata%> </div>

</div>
</div>
<% if(typeof(userdata)!='undefined') {%> 


    <%userdata.forEach(function(elem,index){%>

<% if((name==elem.studentname)&&(uniquecode==elem.uniquecode)&&(elem.status!="blocked")){ %> 

  <div class="border mt-4 " id="mynew<%=index%>" style="width:650px;height:auto;border-radius: 8px;">
<div class="border mt-2 mb-2 bg-light"style="height:auto;width:600px;border-radius:8px">
<h3>Answer by teacher</h3>
<% if(elem.images){%>

  <a href="/wholeimage1?image=<%= elem.images %>"> <img class="border"style="width:300px;height:300px;" src="<%=elem.images %>"alt=""></a>

<%} %> 

<% if(elem.tfiles){ %> 
  <a href="/introfile?file=<%=elem.tfiles%>"
    ><%=elem.tfiles%></a>

<%}%>
<p><%=elem.ansgiven%></p>

<p>topic:<%=elem.topic%></p>
<p>answered by<%=elem.teachname%></p>
<p><%=elem.date2%></p>

<div class="mt-3 ml-3" id="replies<%=index%>"></div>



<button class="btn btn-primary mt-2"type="button"id=<%=index%> onclick="showreply(this)">
  reply
</button>

<form id="form<%=index%>"method="POST"style="display:none">
<textarea id="reply<%=index%>" rows="3"></textarea>
<input type="text" style="display:none" value=<%=name%> id="name<%=index%>" name="name">
<input type="number"style="display:none"  value=<%=elem.id%>  id="commentid<%=index%>" name="commentid<%=index%>">
<button type="submit">submit reply</button>
</form>




<form id="aform<%=index%>"method="POST">
  <input type="hidden" value=<%=elem.id%>  id="comment<%=index%>" name="commentid<%=index%>">
  <button type="submit">getreply</button>
  </form>
</div>







<div class="border mt-5 mb-2 bg-light"style="height:auto;width:600px;border-radius:8px;padding:10px">
  <h3> Question asked by student</h3>
<% if(elem.imageques){%>

  <a href="/wholeimage2?image=<%= elem.imageques %>"> <img class="border"style="width:300px;height:300px;" src="<%=elem.imageques %>"alt=""></a><br>

<%} %> 

<% if(elem.files) {%> 

  <a href="/introfile?file=<%=elem.files%>"><%=elem.files%></a>
    <% }%>

<p><%=elem.questionasked%></p>
<p>topic:<%=elem.topic%></p>
<p>asked by<%=elem.studentname%></p>
<button  class="btn btn-primary"id='<%=elem.id%>' value='<%=elem.questionasked%>'onclick="clearg(this)">clearquestion</button>



<%}%>







</div>
</div>


    <%})%>    
<%}%>


<div id="kk"></div>

      
      <script>
function showreply(data){
  let id=data.id
 // document.getElementById(data.id).style.display="block"
  document.getElementById("form"+data.id).style.display="block"
}




let name=document.getElementById('name').innerText
let uniquecode=document.getElementById('uniquecode').innerText

let alldata=document.getElementById('Mdata').innerText
let mydata=JSON.parse(alldata)

let newstatus=''
for(let i=0;i<mydata.length;i++){
  if((name==mydata[i].studentname)&&(uniquecode==mydata[i].uniquecode)&&(mydata[i].status=='blocked')){
    newstatus='blocked'
}
else{
  newstatus='unblocked'
}

}

if(newstatus=='blocked'){
  document.getElementById("kk").innerHTML=`<h3>you have been blocked</h3>`
}
else{
  document.getElementById("kk").innerHTML=`
  <div class="border mt-5" style="width:700px">
  <form id="myform"method="POST"enctype="multipart/form-data" >
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" style="width:400px" id="questionasked" rows="3"></textarea>
  
      
        <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#myModal4"  id="submitform"type="button"onclick="showdialog(this)">
          Upload image1
      </button>
  
        <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#myModal1"  id="submitform"type="button"onclick="showdialog1(this)">
          Upload file
      </button>
     





</div>




        <div class="form-group">
          <label for="exampleInputPassword1">Enter the uniquecode of your teacher</label>
          <input type="text" class="form-control" id="tuniquecode" style="width:400px" placeholder="Password"name="tuniquecode">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Enter the name of exam or topic</label>
          <input type="text" class="form-control" id="topic" style="width:400px" placeholder="Password"name="topic">
        </div>
       
        <div class="form-group">
          <label for="exampleInputPassword1">Enter teachers name</label>
          <input type="text" class="form-control" id="teachname" style="width:400px" placeholder="Password"name="teachname">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">
                Upload Image
                </h4>
                <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                    x
                </button>
            </div>       
           
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data" id="form-upload3">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <input type="submit"class="btn btn-success" value="Upload">
                </form>
              
            </div>
        </div>
        </div>
      </div>


      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">
                Upload Image
                </h4>
                <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                    x
                </button>
            </div>       
           
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data" id="form-upload4">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <input type="submit"class="btn btn-success" value="Upload">
                </form>
              
            </div>
        </div>
        </div>
      </div>


      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">
                Upload file
                </h4>
                <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                    x
                </button>
            </div>       
           
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data" id="form-upload1">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <input type="submit"class="btn btn-success" value="Upload">
                </form>
              
            </div>
        </div>
        </div>
      </div>
  </div>
  `
}




function showdialog(data){
   let myid=data.id
    $("#myModal4").modal("show")

}
function showdialog1(data){
   let myid=data.id
    $("#myModal1").modal("show")

}


$("#myform").on("submit",function(e){  
  
  e.preventDefault()
     alert("ddd")

    //var now = new Date();

       var formData = {
      questionasked: $("#questionasked").val(),
     tuniquecode:  $("#tuniquecode").val(),
     topic:  $("#topic").val(),
     teachname:  $("#teachname").val(),
  
     questionimage:imagePath,
     myfile:filePath,
       
   };
    
        $.ajax({
            url:"/getyourans",
            method:"POST",
            data:formData,
            success:function(response){
            

              $("#file").val('');
             imagePath=""
             filePath=""
           
          
                alert(response.message)
              
             
             
            }
        })
        //return false;
    
    })







var imagePath=""

$("#form-upload4").on("submit",function(e){
  
e.preventDefault()
alert("sadfg")

$.ajax({
  url: "/do-uploadprofileimage6",
  type: "POST",
  data: new FormData(this),
  contentType: false,
  cache:false,
  processData: false,
  success:function(response){
   
 alert(response)
  
    imagePath=response;
        console.log(imagePath)
    //$("#myModal").modal("hide")
  }
})

})

var filePath="";
$("#form-upload1").on("submit",function(e){
  
e.preventDefault()



$.ajax({
  url: "/do-uploadpdffile",
  type: "POST",
  data: new FormData(this),
  contentType: false,
  cache:false,
  processData: false,
  success:function(response){
   
 // alert(response)
  
    filePath=response;
        
    $("#myModal1").modal("hide")
  }
})
//}
})


for(let j=0;j<30;j++){



$("#form"+j).on("submit",function(e){

  e.preventDefault()

  alert("dsfagaddd")
let html=""
  var formData={
    name:$("#name"+j).val(),
    commentid:$("#commentid"+j).val(),
    reply:$("#reply"+j).val()
  }

console.log(formData.name)
console.log(formData.commentid)
  $.ajax({
  url: "/do-reply",
  type: "POST",
  data: formData,
 
  success:function(response){
   

   
 alert(response.data)
 $("#reply"+j).val('')
 
  
  }
})

})



$("#aform"+j).on("click",function(e){

//document.getElementById("reply").style.display="block"
e.preventDefault()
let name=document.getElementById("name").innerText

alert("dsfasgf")
  var formData={
   
    commentid:$("#comment"+j).val(),
    
  }


  $.ajax({
  url: "/do-getreply",
  type: "POST",
  data: formData,
 
  success:function(response){
   
 alert(response.data)
 let html=""

 if(typeof(response.data)!='undefined'){
   let newdata=JSON.parse(response.data)

   newdata.forEach(function(elem){

     if(formData.commentid==elem.commentid){
if(elem.name!=name){
       html+='<div class="bg-white border mt-1"style="width:400px;border-radius:8px;margin-left:50px">'
   html+=`<p>${elem.reply}</p>`
   html+=`<p> replied by ${elem.name}</p>`
   html+=`<p>${elem.date}</p>`
   html+=`</div>`
   

}else{
  html+='<div class="bg-white border mt-1"style="width:400px;border-radius:8px;">'
  html+=`<p>${elem.reply}</p>`
   html+=`<p> replied by ${elem.name}</p>`
   html+=`<p>${elem.date}</p>`
   html+=`</div>`
}
}
  document.getElementById("mynew"+j).children[0].children[3].innerHTML=html
  
  })
 }
 
  
   
  }
})



})

}

function clearg(data){
  console.log(data.id)
  console.log(data.value)
  
  let newdata=document.getElementById("Mdata").innerText

 // e.preventDefault()
alert("sadfg")
var formData={
  commentid:data.id,

  questionasked:data.value,
  alldata:newdata,
  
}
$.ajax({
  url: "/do-clear",
  type: "POST",
  data: formData,
 
  success:function(response){
   
 alert("question cleared")
  
   // imagePath=response;
       // console.log(imagePath)
    //$("#myModal").modal("hide")
  }
})


}





      </script>
</body>
</html>